
input[type="reset"] {
    width: 25%;
    height: 25px;
    border: 0.5px solid;
    background: #2691d9;
    border-radius: 15px;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 100;
    cursor: pointer;
    outline: none;
  }
  
  input[type="reset"]:hover {
    border-color: #2691d9;
    transition: .5s;
  }

